<article class="table-row">
    <div>
        <%= link_to wishlist.name, store_wishlist_path(wishlist), class: "table-row-title" %>
        <p>By <%= link_to wishlist.user.full_name, store_user_path(wishlist.user), class: "text-link" %>.</p>
    </div>
</article>
